/* Ajustes complementarios para Brain-training V2 */
html,
body {
  height: 100% !important;
  min-height: 100% !important;
}

.scroll {
  scrollbar-width: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}

#heatmap-container {
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch;
}
